{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}
<p>
    Pour nous contacter rapidement, rien de plus simple ! Remplissez juste ce
    petit fomulaire en indiquant soit un numero de t&eacute;l&eacute;phone,
    soit une adresse mail o&ugrave; l'on peut vous joindre, ainsi que votre
    question, et nous t&acirc;cherons d'y r&eacute;pondre au plus vite.
</p>
<div class="contact-form-container">
    <div class="contact-address">
        <h3>
            Adresse de la MTB
        </h3>
        <p>
            Maison du Tourisme<br />
            9 place Emile BLONDEAU<br />
            89210 Brienon / Arman&ccedil;on<br />
            tel : 03&nbsp;86&nbsp;43&nbsp;03&nbsp;36
        </p>
    </div>

    {{ form_start(form, { 'attr': { 'class': 'form contact-form' } }) }}
    <fieldset>
        <legend>Formulaire de contact</legend>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.subject) }}
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>
        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_errors(form.message) }}
        </div>
        <div class="form-control">
            {{ form_widget(form.send, { 'attr': { 'class': 'btn btn-send' } }) }}
        </div>
    </fieldset>
    {{ form_end(form) }}
</div>
{% endblock %}