{{
	form_start(
		form,
		{
			attr: {
				class: 'form register-form'
			}
		}
	)
}}
<fieldset>
	<legend>
		Formulaire d'inscription
	</legend>
	<div class="form-group">
		{{ form_label(form.firstName) }}
		{{ form_widget(form.firstName) }}
		{{ form_errors(form.firstName) }}
	</div>
	<div class="form-group">
		{{ form_label(form.lastName) }}
		{{ form_widget(form.lastName) }}
		{{ form_errors(form.lastName) }}
	</div>
	<div class="form-group">
		{{ form_label(form.email) }}
		{{ form_widget(form.email) }}
		{{ form_errors(form.email) }}
	</div>
	<div class="form-group">
		{{ form_label(form.birthdate) }}
		{{ form_widget(form.birthdate) }}
		{{ form_errors(form.birthdate) }}
	</div>

	<div class="form-group">
		{{ form_label(form.street) }}
		{{ form_widget(form.street) }}
		{{ form_errors(form.street) }}
	</div>

	<div class="form-group">
		{{ form_label(form.postcode) }}
		{{ form_widget(form.postcode) }}
		{{ form_errors(form.postcode) }}
	</div>

	<div class="form-group">
		{{ form_label(form.city) }}
		{{ form_widget(form.city) }}
		{{ form_errors(form.city) }}
	</div>

	<div class="form-group">
		{{ form_label(form.phone) }}
		{{ form_widget(form.phone) }}
		{{ form_errors(form.phone) }}
	</div>

	<div class="form-checkbox">
		{{ form_widget(form.cableNeeded) }}
		{{ form_label(form.cableNeeded) }}
		{{ form_errors(form.cableNeeded) }}
	</div>
	<div class="form-control">
		{{
			form_widget(
				form.send,
				{
					attr: {
						class: 'btn btn-send'
					}
				}
			)
		}}
	</div>
</fieldset>
{{ form_end(form) }}
