<nav class="max-w-[800px] m-auto py-[6px] h-[60px] mt-[245px] text-right">
	<ul class="flex flex-row items-center h-full justify-end">
		<li class="nav-item"><a href="{{ path('app_home') }}">Home</a></li>

		<li class="menu-splitter"></li>

		<li class="nav-item">
			<a href="{{ path('app_informations') }}">Infos</a>
		</li>

		<li class="menu-splitter"></li>

		<li class="nav-item"><a href="{{ path('app_tools') }}">Tools</a></li>

		<li class="menu-splitter"></li>

		<li class="nav-item">
			<a href="{{ path('app_signup') }}">Inscription</a>
		</li>

		<li class="menu-splitter"></li>

		<li class="nav-item">
			<a href="{{ path('app_contact') }}">Contact</a>
		</li>
	</ul>
</nav>
